.container{
  border: solid yellow 2px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 55%;
}
.wrapper{
  display: flex;
  width: 100%;
}
.board_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .container{
    width: 80%;
    height: 400px;
  }
}
@media screen and (max-width: 515px) {
  .container{
    width: 95%;
    height: 370px;
  }
}